In [1]:
a=5
b=5.2
c='A'
d="Name"
e=True

In [2]:
print("Integer:",a);
print("float:",b);
print("charecter:",c);
print("string:",d);
print("boolean:",e);

Integer: 5
float: 5.2
charecter: A
string: Name
boolean: True

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [4]:
a=15
b=10
add=a+b
print("Add",add)
sub=a-b
print("Sub",sub)
mul=a*b
print("Mul",mul)
div=a/b
print("Divide",div)
mod=a%b
print("Mod",mod)
flo_div=a//b
print("Div",flo_div)

Add 25
Sub 5
Mul 150
Divide 1.5
Mod 5
Div 1

In [5]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [6]:
c=True
d=False

In [7]:
print(c and d)
print(c or d)
print(not a)

False
True
False